{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Подключаем Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Подключаем ваши стили -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>Библиотека</title>
</head>
<body>

    <header>
        <h1>Библиотека</h1>
    </header>
    
    {% include 'includes/nav.html' %}

    <div class="container mt-4">
        <h1>О нашей библиотеке</h1>

        <p>Добро пожаловать в библиотеку, посвященную IT литературе! Мы стремимся предоставить широкий спектр книг по программированию, веб-разработке и другим технологическим темам.</p>

        <h2>Наша миссия</h2>
        <p>Мы создали эту библиотеку с целью сделать знания в области информационных технологий доступными для всех. Независимо от вашего уровня опыта, у нас есть книги, которые помогут вам расширить свои знания и умения.</p>

        <h2>Наши категории</h2>
        <p>Мы специализируемся на книгах по языкам программирования, веб-разработке, фреймворкам и смежным темам. У нас есть разделы, посвященные Python, веб-разработке, JavaScript и многим другим областям IT.</p>

        <h2>Как пользоваться библиотекой</h2>
        <p>Просто просматривайте наш каталог книг, выбирайте интересующие вас темы и наслаждайтесь чтением. Мы также регулярно обновляем наш ассортимент, чтобы держать вас в курсе последних тенденций в мире технологий.</p>

        <p>Спасибо, что выбрали нашу библиотеку!</p>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-4">
        &copy; 2023 Библиотека. Все права защищены.
    </footer>

    <!-- Подключаем Необязательный JavaScript (необходим для работы некоторых Bootstrap компонентов) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>
