{% extends 'base.html' %}

{% block content %}
    <h1>Все книги</h1>

    <div class="row">
        <!-- Карточка 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Книга 1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Автор: Автор 1</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Год издания: 2000</h6>
                    <p class="card-text">Краткое описание книги</p>
                    <a href="#" class="btn btn-primary">Подробнее о книге</a>
                </div>
            </div>
        </div>

        <!-- Карточка 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Книга 2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Автор: Автор 2</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Год издания: 2000</h6>
                    <p class="card-text">Краткое описание книги</p>
                    <a href="#" class="btn btn-primary">Подробнее о книге</a>
                </div>
            </div>
        </div>

        <!-- Карточка 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Книга 3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Автор: Автор 3</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Год издания: 2000</h6>
                    <p class="card-text">Краткое описание книги</p>
                    <a href="#" class="btn btn-primary">Подробнее о книге</a>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block">Посмотреть все книги ...</button>

    </div>
{% endblock %}
